@page
@model TransporteSeguro.Pages.ServiciodeTransportes.IndexModel
@{
    ViewData["Title"] = "Index ServiciodeTransportes";
}

<h1>Index ServiciodeTransportes</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiciodeTransportes[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiciodeTransportes[0].Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiciodeTransportes[0].NombreCliente)
            </th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ServiciodeTransportes)
        {
                        <tr>
                            <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.Conductor)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
        }
    </tbody>
</table>

